html {
    width: 100%;
}

body {
    background: url("../images/header-top-bg.png") no-repeat top left;
    /*background-size: cover;*/
    font-family: Arial, "Open Sans";
    color: #181818;
    position: relative;
}

@font-face {
    font-family: 'Dusharnbi';
    src: url('css/fonts/webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('/css/fonts/Dusharnbi.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.wrapper {
    margin: 0 auto;
    width: 1180px;
    position: relative;
    padding: 0px;
    /*outline: 1px solid #8a6d3b;*/
}

/*****  HEADER  *****/
.header {
    float: left;
    width: 100%;
}

.wrapper header .logo {
    padding-top: 100px;
    padding-left: 60px;
}

.wrapper header .logo img {
    position: relative;
    z-index: 9999999999;
}

.weather {
    width: 375px;
    height: 236px;
    margin-left: 120px;
    background: url("../images/weather/sun.png") no-repeat top center;
}

.weather-info {
    padding-top: 102px;
    padding-right: 40px;
    text-align: right;
    color: #67922c;
}

.weather-info .degree {
    font-size: 48px;
    position: relative;
    margin: 0px;
}

.weather-info .degree sup {
    position: absolute;
    top:10px;
    font-size: 18px;
}

.weather-info .location {
    font-size: 12px;
}

.weather-info .wind {
    width: 65px;
    float: right;
    font-size: 14px;
    background: url("../images/weather/wind.png") no-repeat 0px 3px;
}

.weather-info .wind sub {
    font-size: 10px;
    bottom:0;
}

/***** FONTAWESOME - CUSTOMIZE ****/
header .navbar ul li .fa {
    font-size: 18px;
    color: #8cc63e;
}
/***** FONTAWESOME - CUSTOMIZE ****/



/***** HEADER MENU ****/
.smenu {
    float: left;
    position: relative;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    background-color: #8dc63f;
    z-index: 99999999;
}

.smenu:hover {
    color: #fff;
}

.smenu-panel {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 99999998;
    background: rgba(255,255,255,.5);
}

.smenu:hover .navbar>.smenu-wrapper {
    display: block;
}

.smenu-transparent {
    display: none;
    position: absolute;
    top: 50px;
    padding-top: 45px;
    z-index: 99999999;
}

.smenu-transparent span {
    font-size: 46px;
    padding: 0px;
    position: absolute;
    display: block;
    height: 52px;
    left: 4px;
    top: 13px;
    color: #8dc63f;
}

.smenu-wrapper {
    background: #8dc63f;
    padding: 40px;
    position: relative;
}

.smenu-wrapper:before {
    content: '';
    position: absolute;
    width: 1100%; height: 1100%;
    top: 20px; right: -500%;
    background: rgba(255,255,255,.8);
    transform-origin: 54% 0;
    transform: rotate(45deg);
    z-index: -1;
}

.smenu-wrapper .smenu-container {
    list-style: none;
}

.smenu-wrapper .smenu-container li {

}

.smenu-wrapper .smenu-container li a {
    color: #fff;
    padding: 6px 0px;
    display: block;
    font-size: 15px;
}

.smenu-wrapper .smenu-container li a:hover {
    text-decoration: none;
}

.smenu-wrapper .smenu-container li a:hover i {
    visibility: visible;
}

.smenu-wrapper .smenu-container li a i {
    visibility: hidden;
    border-radius: 12px;
    background-color: #fff;
    color: #8dc63f;
    font-size: 13px;
    font-style: normal;
    padding: 2px 2px 2px 7px;
    float: right;
    width: 20px;
    height: 20px;
}

@media (max-width: 765px) {
    .smenu-transparent span {
        display: none;
    }
}

.dropdown .dropdown-bg {
    padding-top: 39px;
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-radius: 0px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.dropdown .dropdown-bg .dropdown-menu li a {
    color: #8dc63f;
    font-size: 15px;
    padding: 5px 20px;
}

.dropdown .dropdown-bg .dropdown-menu li a:hover i {
    visibility: visible;
}

.dropdown .dropdown-bg .dropdown-menu li a i {
    visibility: hidden;
    border-radius: 12px;
    background-color: #8dc63f;
    color: #fff;
    font-size: 13px;
    font-style: normal;
    padding: 2px 2px 2px 7px;
    float: right;
    width: 20px;
    height: 20px;
}

.dropdown .dropdown-menu {
    width:  240px;
    -webkit-box-shadow: 3px 3px 0px rgba(141,198,63,1);
    box-shadow: 3px 3px 0px rgba(141,198,63,1);
    background-color: #f6f6f6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px;

}

.dropdown .dropdown-bg .dropdown-menu>li>a:focus, .dropdown .dropdown-bg .dropdown-menu>li>a:hover {
    color: #8dc63f;
    background-color: transparent;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu, .dropdown:hover .dropdown-bg {
    display: block;
    opacity: 1;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/***** HEADER MENU ****/

nav.navbar-default {
    background: #f6f6f6;
    border: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #8dc63f;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #8dc63f;
    font-weight: 600;
    background-color: transparent;
}
.social-icons-menu {
    border-left: 1px solid #dde2e4;
    border-right: 1px solid #dde2e4;
}

.social-icons-menu >li>a {
    padding-left: 10px;
    padding-right: 10px;
}

/****  SLIDER  ******/
.slider {
    margin-top: 27px;
}

.sp-thumbnail-image-container {
    width: 100px;
    height: 80px;
    overflow: hidden;
    float: left;
}

.sp-thumbnail-image {
    height: 100%;
}

.sp-thumbnail-text {
    width: 170px;
    float: right;
    padding: 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
}

.sp-thumbnail-title {
    font-weight: 600;
    font-size: 10.4px;
    margin-bottom: 5px;
    color: #404040;
}

.sp-thumbnail-description {
    font-size: 8.17px;
    color: #757575;
}

.sp-caption-container {
    font-size: 34.66px;
    font-weight: 600;
    color: #585858;
    text-align: left!important;
}

.sp-caption-container p {
    font-size: 12.88px;
}

@media (max-width: 500px) {
    .sp-thumbnail {
        text-align: center;
    }

    .sp-thumbnail-image-container {
        display: none;
    }

    .sp-thumbnail-text {
        width: 120px;
    }

    .sp-thumbnail-title {
        font-size: 10.4px;
        color: #404040;
        text-transform: uppercase;
    }

    .sp-thumbnail-description {
        display: none;
    }
}

.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
    border-left: 5px solid #8dc63f;
}

.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
    border-left: none;
}

.sp-caption-container {
    font-family: Tahoma;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    text-align: left;
    color: #585858;
}
/****  SLIDER ******/

/*****  JOURNAL AND SEARCH BLOCK  *****/
.journal-search {
    height: 184px;
    width: 100%;
    margin: 0px;
    margin-top: 30px;
    background: url("../images/journal-bg.png")repeat-x;
}

.journal-info {

}

.plant {
    float: left;
    position: relative;
    width: 260px;
    overflow: hidden;
    height: 149px;
    z-index: 9999999;
}

.journal-series {
    width: 88px;
    height: 88px;
    background: #9fc54c;
    position: absolute;
    bottom: -21px;
    z-index: 999;
}

.journal-series p {
    padding-top: 10px;
    padding-left: 25px;
}

.journal-series p a {
    font-family: "Helvetica Neue";
    font-size: 18px;
    color: #fff;
}

.journal-covers {
    z-index: 44;
    position: relative;
    top: 11px;
    left: 27px;
}

.journal-covers img {

    /*-ms-transform: rotate(7deg); !* IE 9 *!
    -webkit-transform: rotate(7deg); !* Chrome, Safari, Opera *!
    transform: rotate(7deg);*/
}

.journal-title {
    float: left;
    width: 50%;
    padding-top: 85px;
    font-size: 13px;
    color: #585858;
    text-transform: uppercase;
}

.site-search {
    height: 184px;
    padding-top: 80px;
    padding-right: 50px;
    text-align: right;
}

.site-search input.form-control {
    height: 38px;
    background:#f4f4f4;
    border: 1px solid #eeeeee;
    font-size: 16px;
    font-style: italic;
    color: #a7a4a6;
    webkit-box-shadow: none;
    box-shadow:  none;
}

.site-search button.btn-success {
    width: 140px;
    height: 38px;
    font-size: 18px;
    background-color: #9fc54c;
    border: 0;
    border-bottom: 1px solid #8fb144;
}

/*****  NEWS  *****/
.news {
    /*width: 1060px;*/
    /*margin: 0px auto;*/
    margin: 0px;
    margin-top: 30px;
}

.news-announcement {
    margin-bottom: 40px;
    text-align: center;
    color: #404040;
}

.news-announcement-title {
    
}

.news-announcement-title p {
    font-size: 14px;
    font-weight: bold;
    color: #c7c7c7;
    text-transform: uppercase;
}

.news-announcement-tags {
    width: 80%;
    margin: 30px auto 20px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 35px;
}

.news-announcement-quote {
    width: 555px;
    margin: 0 auto;
}

.news-announcement-quote p {
    font-family: 'Times New Roman';
    font-size: 18px;
    font-style: italic;
}

/*****  NEWS SECTION 2  *****/
.news .news-section-1 {
    width: 1060px;
    margin: 0 auto;
}

.news-section-1, .news-section-2 {
    margin: 0;
}

.news-section-1, .news-section-2 .new-section2-container {
    width: 1060px;
    margin: 0 auto;
}

.news-section-line {
    height: 53px;
    position: relative;
    padding-top: 11px;
    margin-bottom: 48px;
    text-transform: uppercase;
}

.news-section-line p {
    height: 42px;
    line-height: 45px;
    background: #f2f2f2;
    font-size: 15px;
    color: #9fc54c;
    font-weight: 600;
}

.news-section-line p span {
    width: 177px;
    padding: 10px 15px 10px 20px;
    margin-right: 30px;
    height: 42px;
    background: #9fc54c;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    float: left;
    color: #fff;
    position: relative;;
}

.news-section-line p span:before {
    content: "";
    position: absolute;
    top: 0;
    right: -14px;
    width: 0px;
    height: 0;
    border-bottom: 42px solid transparent;
    border-left: 14px solid #9fc54c;
}

.news-section-line .news-section-accessory {
    width: 68px;
    height: 52px;
    position: absolute;
    right: 30px;
    top: 1px;
    background: url("../images/news-title-right-list.png") no-repeat right top;
}

.news-section-left-1 {

}

.news-section-left-1, .index-news-main, .index-news-big {
    padding: 0px;
}

.news-section-left-1 .index-news-main {
    margin: 0px;
}

.news-section-left-1 .index-news-big {

}

.news-section-left-1 .index-news-big img {
    width: 435px;
    height:304px;
}

.news-category {
    margin-top: 15px;
    font-size: 9.4px;
    color: #a1a1a1;
    text-transform: uppercase;
}

.news-section-left-1 .index-news-big-title a {
    font-size: 36px;
    color: #181818;
}

.news-section-left-1 .index-news-big-shortstory {
    font-size: 17px;
}

.news-section-left-1 .index-news-small-wrapper {
    padding: 0px;
}

.news-section-left-1 .index-news-small {
    margin: 0px;
}

.news-section-left-1 .index-news-small img {
    width: 252px;
    height: 134px;
}

.news-section-left-1 .index-news-small-title a {
    font-size: 14px;
    color: #181818;
}

.news-section-left-1 .index-news-small-shortstory {
    font-size: 12px;
    color: #181818;
}

.news-section-right-1 {
    padding:  0px;
}

.news-section-right-1 .short-news-right-wrapper {
    padding: 0px;
}

.news-section-right-1 .short-news-right {
    border-bottom: 1px solid #f2f2f2;
    margin-top: 13px;
    padding-bottom: 13px;
}

.news-section-right-1 .short-news-right:last-child {
    border-bottom: 0px;
}

.news-section-right-1 .short-news-right-img {
    padding: 0px;
}

.news-section-right-1 .short-news-right-img img {
    width: 106px;
    height: 74px;
}

.news-section-right-1 .short-news-right-text {}

.news-section-right-1 .short-news-title {
    margin: 0px;
}

.news-section-right-1 .short-news-title a {
    font-size: 15px;
    color: #181818;
}

.news-section-right-1 .short-news-time {
    margin-top: 7px;
    font-size: 13px;
    color: #959595;
}

.news-section-right-1 .vote {}

.news-section-right-1 .vote .tab-content {}

.news-section-right-1 .vote .tab-pane {}

.news-section-right-1 .vote .tab-pane {}

.news-section-right-1 .vote .tab-pane .vote-wrapper {
    /*padding: 15px;*/
}

.news-section-right-1 .vote .tab-pane .vote-wrapper .radio {

}

/******     Sesverme     *******/
.news-section-right-1 .vote .tab-pane .vote-wrapper .vote-title {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #2d3340;
}

.form-group .radio-l {
    /*background:url("../images/tags-pic.jpg") no-repeat ;*/
    /*display:inline-block;*/
    /*width: 57px;*/
    /*height: 57px;*/
    /*text-indent: 50px;*/
}

.form-group input[type=radio]{
    display:none;
}

.form-group input[type=radio]:checked + .radio-l{

}

.form-group .row {
    margin-left: 0;
    margin-right: 0;
}

.form-group button {
    width: 100%;
    border: 0;
    background: #dbf68a;
    border-radius: 0;
}

.radio {
    padding: 14px 0;
    border-top: 1px solid #f2f2f2;
}

.radio:last-child {
    border-bottom: 0px;
}

.radio img {
    width: 52px;
    height: 52px;
    padding: 0px;
    margin-left: 5px;
}

.glyphicon-ok-circle:before {
    position: absolute;
    color: #fff;
    font-size: 53px;
    top: 3px;
    z-index: 99999;
    left: 2px;
}
/******     Sesverme     *******/

/*****  NEWS SECTION 2  *****/
.news-section-right-1 .vote .nav-tabs li a {
    color: #2d3340;
    font-size: 13.1px;
}

.news-section-right-1 .vote .nav-tabs li.active a {
    border-color: #cecece;
    border-bottom-color: transparent;
}

.news-section-right-1 .vote .tab-content {
    border: 1px solid #cecece;
    border-top: 0px;
}

.news-section-right-1 .vote {}

.news-section-2 {
    width: 100%;
    margin-top: 35px;
    background: url("../images/bg-wave.png") repeat-x top left;
}

.news-section-left-2 {
    padding-left: 0px;
}

.news-section-left-2 .event-news-wrapper .news-section-line span {
    width: 150px;
}

.news-section-left-2 .event-news-wrapper .news-section-line .news-section-accessory {
    width: 100px;
    height: 85px;
    top: 11px;
    right: 0px;
    background: url('../images/title-right-list.png') no-repeat right top;
    -ms-transform: rotate(2deg); /*!* IE 9 *!*/
    -webkit-transform: rotate(2deg); /*!* Chrome, Safari, Opera *!*/
    transform: rotate(2deg);
}

.news-section-left-2 .parks-gardens-wrapper .news-section-line .news-section-accessory {
    width: 79px;
    height: 77px;
    top: -23px;
    right: 17px;
    background: url('../images/parks&gardens.png') no-repeat right top;
    -ms-transform: rotate(2deg); /*!* IE 9 *!*/
    -webkit-transform: rotate(2deg); /*!* Chrome, Safari, Opera *!*/
    transform: rotate(2deg);
}

.news-section-left-2 .parks-gardens-wrapper .news-section-line span {
    width: 228px;
    font-size: 14.85px;
}

.news-section-left-2 .event-news-wrapper {
    margin: 0;
    margin-top: 30px;
}

.news-section-left-2 .event-news {
    padding-bottom: 30px;
    margin: 0px;
    margin-top: 30px;
    border-bottom: 1px solid #eaeaea;
}

.news-section-left-2 .event-news:last-child {
    border: 0px;
}

.news-section-left-2 .event-news .news-category {
    margin-top: 0px;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-img {
    padding: 0px;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-img img {
    width: 163px;
    height: 115px;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-text {
    padding-left: 10px;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-title a {
    font-size: 17px;
    color: #2d3340;
    font-weight: 600;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-shortstory {
    font-size: 14px;
    color: #2d3340;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-time {
    font-size: 13.2px;
    color: #b7b7b7;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-time span.author {
    color: #2d3340;
}

.news-section-left-2 .event-news-wrapper .event-news .event-news-time span a {
    color: #8cc63e;
}

.news-section-left-2 .parks-gardens-wrapper {
    margin: 0px;
}

.news-section-left-2 .parks-gardens-wrapper {

}

.news-section-left-2 .parks-gardens {
    margin: 0px;
}

.news-section-left-2 .park-garden {
    text-align: center;
}

.news-section-left-2 .park-garden .image {

}

.news-section-left-2 .park-garden .image img {
    width: 84px;
    height: 84px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.news-section-left-2 .park-garden .image a {
    position: relative;
}

.news-section-left-2 .park-garden .image span {
    position: absolute;
    top: -80%;
    left: 25%;
    font-size: 40px;
    color: #fff;
}

.news-section-left-2 .park-garden .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase   ;
}

.news-section-left-2 .park-garden .info {
    font-size: 11px;
    color: #777;
}

.news-section-right-2 {

}

.news-section-right-2 .banner {
    margin-bottom: 30px;
}

.news-section-right-2 .gardening-wrapper {

}

.news-section-right-2 .gardening-wrapper .news-section-line {
   margin-bottom: 30px;
}

.news-section-right-2 .gardening-wrapper .news-section-line span {
   width: 133px;
}

.news-section-right-2 .gardening-wrapper .news-section-line .news-section-accessory {
    width: 54px;
    height: 77px;
    position: absolute;
    right: 0px;
    top: -24px;
    background: url("../images/title-right.png") no-repeat right top;
}

.news-section-right-2 .gardening {
    margin: 0px;
    margin-bottom: 20px;
}

.news-section-right-2 .gardening-wrapper .item {
    margin: 0px;
}

.news-section-right-2 .gardening-wrapper ul {
    padding: 0;
    list-style: none;
}

.news-section-right-2 .gardening-img {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

.news-section-right-2 .gardening-img img {
    width: 136px;
    height: 92px;
}

.news-section-right-2 .gardening-text {
   /* padding-left: 0px;*/
}

.news-section-right-2 .gardening-title a {
    font-size: 10.7px;
    font-weight: 600;
    color: #404040;
    text-transform: uppercase;
}

.news-section-right-2 .gardening-shortstory {
    font-size: 8.47px;
    color: #757575;
}

/****  OWL THEME CUSTOMIZE   ****/
.owl-carousel .owl-controls .owl-page span {
    background: #fff!important;
    border: 1px solid #8f8f8f!important;
    margin: 0px!important;
}

.owl-carousel .owl-controls .active span {
    background: #808080!important;
    border: 1px solid #595959!important;
}

/*****  ABOUTUS  ****/
.aboutus-wrapper {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: #f2f2f2;
}

.aboutus-wrapper .title {
    width: 144px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background: #9fc54c;
    font-size: 14.79px;
    color: #fff;
    text-transform: uppercase;
}

.aboutus-info {
    background: url("../images/aboutus-list.png") no-repeat bottom left;
}

.aboutus-wrapper .aboutus-content {
    margin-top: 30px;
    padding-bottom: 55px;
    font-size: 11.51px;
    color: #777;
}


.aboutus-wrapper .aboutus {
    width: 1060px;
    margin: 0 auto;
}
.aboutus-wrapper {}

.aboutus .aboutus-menu {

}

.aboutus .aboutus-menu ul {
    padding: 0px;
    list-style: none;
}

.aboutus .aboutus-menu ul h4 {
    font-size: 17.23px;
    font-weight: 600;
    color: #769239;
    text-transform: uppercase;
}

.aboutus .aboutus-menu ul li {

}

.aboutus .aboutus-menu ul li a {
    font-size: 12.93px;
    text-transform: uppercase;
    color: #769239;
}

.aboutus .aboutus-menu [class*="menu"] {
    padding: 0px;
    margin: 0px;
}

.aboutus .aboutus-menu {

}

/*****  FOOTER  ****/
.footer {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.footer .copyright {
    font-size: 9.86px;
    color: #769239;
    text-transform: uppercase;
}

.footer .copyright img {
    width: 152px;
}